<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ERP Api" verbose="1">
    <listeners>
        <listener class-name="utility.Listeners" />
    </listeners>
    <test name="Regression suite" preserve-order="true" parallel="false" >

        <classes>
            <class name="seleniumTest.Login"></class>
            <class name="seleniumTest.ClientList"></class>
            <class name="seleniumTest.UserList"></class>
            <class name="seleniumTest.UserCreate"></class>
            <class name="seleniumTest.clientAdd"></class>
        </classes>


    </test>


</suite>


